@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

.blogs {
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 10vh;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.blogs h4 {
  font-family: "Segoe UI", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: inherit;
  font-size: 40px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.title_down {
  justify-content: center;
  flex-direction: row;
  display: flex;
  position: static;
}

.line {
  background-color: #000;
  height: 3px;
  width: 200px;
  position: relative;
}

.title_after {
  color: #2400ff;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  position: absolute;
  background-color: #fff;
}

.blogs_details {
  flex-direction: row;
  display: flex;
  margin-top: 10vh;
  justify-content: space-evenly;
}

.blogs-techcontent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50vw;
}

.blogs-techcontent img {
  width: 40vw;
  filter: drop-shadow(0 10px 4px rgba(0, 0, 0, 0.25));
}

.blogs-box {
  flex-direction: row;
  display: flex;
}

.blogs-names {
  width: 60%;
}

.blogs-year h3 {
  color: #2400ff;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  width: 100px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.blogs_head h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 25px;
  text-align: start;
  margin-block-start: 0;
  margin-block-end: 0.4em;
}

.blogs_body p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  text-align: start;
  margin-bottom: 5vh;
}

.blogs_more h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

@media screen and (max-width: 1000px) {
  .blogs-techcontent{
    width: auto;
  }

  .blogs-year h3 {
    width: 80px;
  }

  .blogs_head h3 {
    font-weight: 400;
    font-size: 22px;
  }

  .blogs_head h4 {
    font-weight: 280;
    font-size: 18px;
    line-height: 18px;
  }
  
  .blogs_head p {
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
  }
  
  .blogs_body p {
    font-weight: 200;
  }
}

@media screen and (max-width: 450px) {
  .blogs-techcontent {
    display: none;
  }

  .blogs-names {
    width: 100%;
  }
}
