/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
  /* background-color: #FCD8D4; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* all similar content styling codes */
section {
  padding: 100px 0;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.about,
.skills,
.teams,
.contact,
.footer {
  font-family: 'Poppins', sans-serif;
}

.about .about-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}

section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 200px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}

section .title::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: yellowgreen;
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
}

/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
}

.navbar.sticky {
  padding: 15px 0;
  background: #141414;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo:hover {
  background-image: linear-gradient(brown, purple);
}

.navbar .logo a:hover {
  color: black;
  font-size: 35px;
  font-weight: 600;
}

.navbar .logo a {
  color: blueviolet;
  font-size: 35px;
  font-weight: 600;
}

.navbar .logo a span {
  color: yellowgreen;
  transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
  color: blueviolet;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  color: blueviolet;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: yellowgreen;
}

.navbar.sticky .menu li a:hover {
  color: blueviolet;
}

/* menu btn styling */
.menu-btn {
  color: blueviolet;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: #141414;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

.scroll-up-btn:hover {
  filter: brightness(90%);
}

/* home section styling */
.home {
  display: flex;
  background: url("banner.jpeg") no-repeat center;
  height: 100vh;
  color: blueviolet;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
  margin: auto 0 auto 30px;
}

.home .home-content .text-1 {
  font-size: 27px;
}

.home .home-content .text-2 {
  color: blueviolet;
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.home .home-content .text-2:hover {
  color: black;
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}

.home .home-content .text-3 span {
  color: black;
  font-weight: 500;
}

.home .home-content a {
  display: inline-block;
  background: black;
  color: blueviolet;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid black;
  transition: all 0.3s ease;
}

.home .home-content a:hover {
  color: black;
  background: none;
}

.man__img {
  height: 400px;
  width: 385px;
  margin-left: 140px;
  margin-top: 20px;
  /* object-fit: fill;
  border-radius: 6px;
  padding-left: 100px; */
}

/* about section styling */
.about .title::after {
  content: "Who am I";
  color: blueviolet;
}

.about .about-content .left {
  width: 45%;
}

.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 100%;
}

.about .about-content .right {
  width: 55%;
}

.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .about-content .right .text span {
  color: blueviolet;
}

.about .about-content .right p {
  text-align: justify;
}

.about .about-content .right a {
  display: inline-block;
  background: black;
  color: blueviolet;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid yellowgreen;
  transition: all 0.3s ease;
}

.about .about-content .right a img {
  width: 30px;
  display: none;
  border-radius: 100%;
}

.about .about-content .right a:hover img {
  display: block;
}

.about .about-content .right a:hover {
  color: yellowgreen;
  background: black;
}

/* skills section styling */
.skills .title::after {
  content: "what i know";
  color: blueviolet;
}

.skills .skills-content .column {
  width: calc(100% - 30px);
}

.skills .skills-content .right .bars {
  margin-bottom: 15px;
  align-items: center;
}

.skills .skills-content .right .info {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}

.skills .skills-content .right span {
  font-weight: 500;
  font-size: 18px;
  align-items: center;
}

.skills .skills-content .right .line {
  height: 5px;
  width: 100%;
  background: lightgrey;
  position: relative;
  align-items: center;
}

.skills .skills-content .right .line::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: blueviolet;
  align-items: center;
}

.skills-content .right .webd::before {
  width: 85%;
}

.skills-content .right .flutter::before {
  width: 40%;
}

.skills-content .right .designing::before {
  width: 80%;
}

.skills-content .right .machine::before {
  width: 50%;
}

/* Tech  */

.tech .title::after {
  content: "Tech Stacks I use";
  color: blueviolet;
}


.tech .icon-box {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  background:var(--secondary-color);
  transition: ease-in-out 0.3s;
  padding-left: 60px
}

.tech .max-width {
    max-width: 1500px;
    padding: 0 50px;
    margin: auto;
}

.tech h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  padding-left: 0.5rem;
  line-height: 1;
  font-size: 20px;
  color: #111;
}

.tech .techbox {
  padding: 0px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 0px;
}

@media (max-width: 412px) {

  .tech .title::after {
    position: relative;
    display: flex;
    flex: auto;
    padding-left: 90px
  }

  .tech .icon-box {
    padding-bottom: 10px;
    padding-left: 10px;
  }

  .tech .max-width {
      max-width: 1200px;
      padding: 0 30px;
      margin: auto;
  }

  .tech .techbox {
    padding: 0px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 0px;
  }

}

/* Activities  */

.activities .title::after {
  content: "Trainer/Facilitator";
  color: blueviolet;
}

.activities .grid1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  justify-content: center;
  margin-bottom: 10px;
}

.activities .workshop1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: static;
  width: 420px;
  height: 258px;
  background: url(images/workshop-1.jpg);
  border-radius: 12px;
  background-size: cover;
  margin: 5px;
}

.activities .workshop2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: static;
  width: 420px;
  height: 258px;
  background: url(images/workshop-2.jpg);
  border-radius: 12px;
  background-size: cover;
  margin: 5px;
}

.activities .workshop3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: static;
  width: 420px;
  height: 258px;
  background: url(images/workshop-3.jpg);
  border-radius: 12px;
  background-size: cover;
  margin: 5px;
}


.activities .workshop4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: static;
  width: 420px;
  height: 258px;
  background: url(images/workshop-4.jpg);
  border-radius: 12px;
  background-size: cover;
  margin: 5px;
}


.activities h1 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

.activities p {
  text-align: center;
}


/* Projects */

.projects .title::after {
  content: "Side Projects";
  color: blueviolet;
}

.projects .grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  justify-content: center;
  margin-bottom: 10px;
}

.projects .project1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: static;
  width: 420px;
  height: 258px;
  background: linear-gradient(180deg,rgba(26, 8, 75, 0.7) 0%,rgba(26, 8, 75, 0.56) 20%,rgba(26, 8, 75, 0.084) 40%,rgba(26, 8, 75, 0.49) 65.1%,rgba(26, 8, 75, 0.7) 100%),url(images/project1.png);
  border-radius: 12px;
  background-size: cover;
  margin: 5px;
}

.projects .project2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: static;
  width: 420px;
  height: 258px;
  background: linear-gradient(180deg,rgba(26, 8, 75, 0.7) 0%,rgba(26, 8, 75, 0.56) 20%,rgba(26, 8, 75, 0.084) 40%,rgba(26, 8, 75, 0.49) 65.1%,rgba(26, 8, 75, 0.7) 100%),url(images/project2.png);
  border-radius: 12px;
  background-size: cover;
  margin: 5px;
}

.projects .project3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: static;
  width: 420px;
  height: 258px;
  background: linear-gradient(180deg,rgba(26, 8, 75, 0.7) 0%,rgba(26, 8, 75, 0.56) 20%,rgba(26, 8, 75, 0.084) 40%,rgba(26, 8, 75, 0.49) 65.1%,rgba(26, 8, 75, 0.7) 100%),url(images/project3.png);
  border-radius: 12px;
  background-size: cover;
  margin: 5px;
}

.projects .project4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: static;
  width: 420px;
  height: 258px;
  background: linear-gradient(180deg,rgba(26, 8, 75, 0.7) 0%,rgba(26, 8, 75, 0.56) 20%,rgba(26, 8, 75, 0.084) 40%,rgba(26, 8, 75, 0.49) 65.1%,rgba(26, 8, 75, 0.7) 100%),url(images/project4.png);
  border-radius: 12px;
  background-size: cover;
  margin: 5px;
}

.projects .project5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: static;
  width: 420px;
  height: 258px;
  background: linear-gradient(180deg,rgba(26, 8, 75, 0.7) 0%,rgba(26, 8, 75, 0.56) 20%,rgba(26, 8, 75, 0.084) 40%,rgba(26, 8, 75, 0.49) 65.1%,rgba(26, 8, 75, 0.7) 100%),url(images/project5.png);
  border-radius: 12px;
  background-size: cover;
  margin: 5px;
}

.projects .project6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: static;
  width: 420px;
  height: 258px;
  background: linear-gradient(180deg,rgba(26, 8, 75, 0.7) 0%,rgba(26, 8, 75, 0.56) 20%,rgba(26, 8, 75, 0.084) 40%,rgba(26, 8, 75, 0.49) 65.1%,rgba(26, 8, 75, 0.7) 100%),url(images/project6.png);
  border-radius: 12px;
  background-size: cover;
  margin: 5px;
}

.projects a {
  font-family: 'Poppins', sans-serif;
  padding-top: 180px;
  color: #ffff;
}

.projects .buttons {
  padding-left: 500px
}

.projects button a {
  font-family: 'Poppins', sans-serif;
  color: #ffff;
  font-size: 10px
}


.projects button {
  width: 140px;
  border: 0;
  padding: 12px 10px;
  outline: none;
  color: #fff;
  background: blueviolet;
  border-radius: 6px;
  cursor: pointer;
  transition: width 0.8s;
}

.projects button img {
  width: 30px;
  display: none;
}

.projects button:hover img {
  display: block;
}

.projects button:hover {
  width: 180px;
  display: flex;
  justify-content: space-between;
}

/* Work */
.work .title::after {
  content: "Experience";
  color: blueviolet;
}

.work h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 28px;
}

.work h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #1C658C;
  font-size: 18px;
}

.work li {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  padding-top: 5px
}

.work .pic {
  margin-top: 0px;
  display: flex;
}

.work .internships {
  display: grid;
  grid-template-columns: 1.9fr 0.1fr;
}

.work h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  padding-bottom: 15px;
  font-size: 15px
}

/* Freelance */
.freelance .title::after {
  content: "Freelancing";
  color: blueviolet;
}

.freelance h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 28px;
}

.freelance li {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  padding-top: 5px
}

.freelance h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  padding-bottom: 15px;
  font-size: 15px
}

.freelance .pic {
  margin-top: 0px;
  display: flex;
  width: 250px;
  height: 250px
}

.freelance .freelancing {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Awards */

.awards .title::after {
  content: "honors";
  color: blueviolet;
}

.awards h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 28px;
}

.awards h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #1C658C;
  font-size: 18px;
}

.awards li {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  padding-top: 5px
}

.awards .pic {
  margin-top: 0px;
  display: flex;
  height: 500px;
  justify-content: flex-end;
}

.awards .honors {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
}

.awards h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  padding-bottom: 15px;
  font-size: 15px
}

/* Opensource */

.opensource .title::after {
  content: "collaborate";
  color: blueviolet;
}

.opensource h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 28px;
}

.opensource h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #1C658C;
  font-size: 18px;
}

.opensource li {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  padding-top: 5px
}

.opensource .pic{
  margin-top: 0px;
  display: flex;
  height: 500px;
  width: 650px;
  justify-content: flex-end;

}

.opensource .opensourcing {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
}

.opensource h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  padding-bottom: 15px;
  font-size: 15px
}

/* education */
.education .title::after {
  content: "academics";
  color: blueviolet;
}

.text-3 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

.text-3 span {
  color: blueviolet;
}

/* engineering */
.engineering .title::after {
  content: "why";
  color: blueviolet;
}

.container {
  padding-right: 500px;
  padding-left: 500px;
  display: block;
  width: 50%;
  margin: auto;
}

.play-sound-btn {
  background: #b9e1ff;
  padding-right: 500px;
  padding-left: 500px;
  color: #000;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
}

.play-sound-btn:hover {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.play-sound-btn:active {
  background: blueviolet;
}

.sunle {
  padding-left: 0px;
  text-align: center;
}

/* contact */
.contact .title::after {
  content: "Let's get in touch";
  color: blueviolet;
}

.text {
  text-align: center;
  padding-bottom: 20px;
}

/* responsive media  */
@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0px;
  }
}

@media (max-width: 1300px) {
  .home {
    height: 400px;
    width: 400px;
    object-fit: fill;
    margin-top: 20px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }

  .home .home-content .text-2 {
    color: blueviolet;
    font-size: 35px;
    font-weight: 600;
    margin-left: -3px;
  }

  .home .home-content .text-2:hover {
    color: black;
    font-size: 50px;
  }
}

/* image responsiveness */
@media (max-width: 425px) {
  .man__img {
    position: absolute;
    height: 200px;
    width: 200px;
    top: 380px;
    right: 100px;
  }
}


@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}

@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;

  }

  .navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 140px
}

  .menu-btn i.active:before {
    content: "\f00d";
  }

  .navbar .menu {
    position: fixed;
    height: 40vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 30px;
    transition: all 0.3s ease;
  }

  .navbar .menu.active {
    left: 0;
  }

  .navbar .menu li {
    display: block;
  }

  .navbar .menu li a {
    display: inline-block;
    margin: 10px 0;
    font-size: 25px;
  }

  .home .home-content .text-2 {
    font-size: 70px;
  }

  .home .home-content .text-3 {
    font-size: 35px;
  }

  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }

  .max-width {
    max-width: 930px;
  }

  .about .about-content .column {
    width: 100%;
  }

  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }

  .about .about-content .right {
    flex: 100%;
  }

  .services .serv-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }

  .skills .skills-content .column,
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }

  .home .home-content .text-2 {
    font-size: 60px;
  }

  .home .home-content .text-3 {
    font-size: 32px;
  }

  .home .home-content a {
    font-size: 20px;
  }

  .services .serv-content .card {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }

  .home .home-content .text-3 {
    font-size: 27px;
  }

  .about .about-content .right .text,
  .skills .skills-content .left .text {
    font-size: 19px;
  }

  .contact .right form .fields {
    flex-direction: column;
  }

  .contact .right form .name,
  .contact .right form .email {
    margin: 0;
  }

  .scroll-up-btn {
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
  }
}
