@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

.about{
    height: 80vh;
}

.about_content{
    align-items: center;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about_content .title::before{
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    width: 200px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
 }

.about_content .title::after{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    content: "Who am I";
    color: #8a2be2;
    position: absolute;
    bottom: -40px;
    left: 50%;
    font-size: 20px;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

.about_details{
    margin-left: 10vw;
    flex-direction: row;
    display: flex;
}

.about-content h2 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 75px;
}

.about-text{
    color: #8a2be2;
}

.about-content p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #504545;
}

.about-content h4{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #111;
}

.about_pic {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-top: 2rem;
}

.about_pic img {
    width: 400px;
    height: auto;
}

.button{
    background-color: #000;
    border-radius: 15px;
    width: 80px;
    height: 35px;
    border: 3px solid #2400FF;
    text-align: center;
    margin-top: 5vh;
}

.button:hover{
    background-color: #2400FF;
    border: 3px solid #000;
}

.button h3{
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    cursor: pointer;  
}

@media screen and (max-width: 1050px) {

    .about{
        height: 50%;
    }
    
    .about_details {
        flex-direction: column;
    }

    .about_content{
        margin-bottom: 0vh;
        width: 100%;
     }

     .about_content .title::after{    
        width: 100px;
        position: relative;
        display: flex;
        flex: auto;
        margin-top: -5vh;
    }

     .about_content .title::before{
         display: none;
     }

     .about_pic {
        width: 100%;
        justify-content: center;
        margin-left: -6%;
    }

     .about_pic img {
        width:50%;
        height: auto;
    }

    .about-content {
        margin-top: 0rem;
    }

    .about-content h2 {
        font-weight: 400;
        font-size: 16px;
        line-height: 75px;
    }

    .about-content h4{
        font-size: 20px;
    }

    .button{
        margin-top: 0vh;
    }

}

@media screen and (max-width: 650px) {
    .about-content h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .about-content p {
        font-size: 16px;
        line-height: 24px;
    }

    .about_content .title::before{
        content: "";
        position: absolute;
        transform: translateX(-50%);
        bottom: 120px;
     }

}

@media screen and (max-width: 490px) {
    .about-content h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .about-content p {
        font-size: 14px;
        line-height: 24px;
    }   

}