@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

.achievements{
    height: 230vh;    
    background-color: #EDF2F8;
}

.achievements_content{
    align-items: center;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.achievements h1::before{
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    width: 200px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    top: 1310vh;
 }

.achievements h1::after{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    content: "honors";
    color: #8a2be2;
    position: absolute;
    bottom: 20px;
    left: 50%;
    font-size: 20px;
    padding: 0 5px;
    background-color: #fff;
    transform: translateY(1215vh);
    margin-left: -3vw;
}


.achievements-year h3{
    color: #2400FF;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    width: 60px;
}

.achievements-box{
    flex-direction: row;
    display: flex;
}

.achievements_head h3{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
}

.achievements_head h4{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 20px;
    color: #1C658C;
}

.achievements_head p{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 15px;
    color: #2400FF;
}

.achievements-names{
    width: 60vw;
    margin-left: 5vw;
}


.achievements_details{
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}

.achievements-techcontent_box img{
    width: 40vw;    
    filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 1050px) {

    .achievements{
        height: 50%;
    }
    
    .achievements_content{
        margin-bottom: 0vh;
        width: 100vw;
     }

    .achievements_content h1::after{    
        width: 120px;
        position: relative;
        display: flex;
        flex: auto;
        margin-top: -5vh;
        top: 40px;
        transform: translateX(-40%);
        margin-left: 0;
    }

    .achievements_content h1::before{
         display: none;
     }

     .achievements_details{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
        width: 100vw;
     }

    .achievements-techcontent_box{
        width: 50vw;
        text-align: center;
    }

    .achievements-techcontent_box img{
        width: 50vw;
        height: 50%;
        margin-top: 10px;
    }
    
    .achievements-year h3{
        font-size: 15px;
        line-height: 0px;
    }

    .achievements_head h3{
        font-size: 15px;
        line-height: 15px;
    }
    
    .achievements_head h4{
        font-size: 14px;
        line-height: 14px;
    }
    
    .achievements_head p{        
        font-size: 14px;
    }

    .achievements-names{
        margin-left: 0vw;
    }
 }
