@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

.blogs{
    height: 110vh;
}

.blogs_content{
    align-items: center;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.blogs h1::before{
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    width: 200px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    top:1195vh;
 }

.blogs h1::after{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    content: "writeups";
    color: #8a2be2;
    position: absolute;
    bottom: 20px;
    left: 50%;
    font-size: 20px;
    padding: 0 5px;
    background-color: #fff;
    transform: translateY(1100vh);
    margin-left: -4vw;
}

.blogs_details{
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}

.blogs-techcontent_box img{
    width: 40vw;
    margin-left: 5vw;
    filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25));
}

.blogs-year h3{
    color: #2400FF;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    width: 60px;
}

.blogs-box{
    flex-direction: row;
    display: flex;
}

.blogs_head h3{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 25px;
}

.blogs_head p{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 15px;
    color: #2400FF;
}

.blogs_body p{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
}

.blogs-names{
    width: 60vw;
}

@media screen and (max-width: 1050px) {

    .blogs{
        height: 50%;
    }
    
    .blogs_content{
        margin-bottom: 0vh;
        width: 100%;
     }

    .blogs_content h1::after{    
        width: 120px;
        position: relative;
        display: flex;
        flex: auto;
        margin-top: -5vh;
        top: 40px;
        transform: translateX(-50%);
        margin-left: 0;
    }

    .blogs_content h1::before{
         display: none;
     }

     .blogs_details{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
     }

    .blogs-techcontent_box{
        width: 50vw;
        text-align: center;
    }

    .blogs-techcontent_box img{
        height: 50%;
        margin-left: 0vw;
    }
    
    .blogs-year h3{
        font-size: 15px;
    }

    .blogs_head h3{
        font-size: 15px;
    }
    
    
    .blogs_head p{        
        font-size: 14px;
    }
    
    .blogs_body p{
        font-weight: 300;
        font-size: 12px;
    }
 }