@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

.contact {
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 10vh;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact h4 {
  font-family: "Segoe UI", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: inherit;
  font-size: 40px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.title_down {
  justify-content: center;
  flex-direction: row;
  display: flex;
  position: static;
}

.line {
  background-color: #000;
  height: 3px;
  width: 200px;
  position: relative;
}

.title_after {
  color: #2400ff;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  position: absolute;
  background-color: #fff;
}

.contact_box1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.contact_mail {
  width: 280px;
  background-color: #fff;
  height: 30px;
  border-radius: 6px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  margin: 1rem 0;
  background-color: #edf2f8;
}

.contact_mail img {
  width: 50px;
  height: 50px;
}

.contact_mail p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  align-items: center;
  color: #6b7688;
}

.contact_twitter {
  width: 280px;
  background-color: #fff;
  height: 30px;
  border-radius: 6px;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  margin: 1rem 0;
  background-color: #edf2f8;
}

.contact_twitter img {
  width: 50px;
  height: 40px;
}

.contact_twitter p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  color: #6b7688;
}

.contact_details {
    margin-top: 10vh;
}

.contact_details a {
  text-decoration: none;
  color: #6b7688;
}

.contact_box2 {
  padding-bottom: 5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.contact_linkedin {
  width: 280px;
  background-color: #fff;
  height: 30px;
  border-radius: 6px;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  margin: 1rem 0;
  text-align: center;
  background-color: #edf2f8;
}

.contact_linkedin img {
  width: 40px;
  height: 40px;
}

.contact_linkedin p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  color: #6b7688;
  margin-block-start: 0;
  margin-block-end: 0;
}

.contact_box3 {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact_name input {
  border: none;
  border-radius: 7px;
  background-color: #edf2f8;
  outline: none;
  padding: 0.95rem;
  width: 600px;
  margin-bottom: 2vh;
}

.contact_name p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  color: #6b7688;
  padding-top: 18px;
}

.contact_mailid input {
  border: none;
  border-radius: 7px;
  background-color: #edf2f8;
  outline: none;
  padding: 0.95rem;
  width: 600px;
  margin-bottom: 2vh;
}

.contact_mailid p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  color: #6b7688;
  padding-top: 18px;
}

.contact_message textarea {
  border: none;
  border-radius: 7px;
  background-color: #edf2f8;
  outline: none;
  padding: 0.95rem;
  width: 600px;
  margin-bottom: 2vh;
  height: 186px;
  overflow: auto;
  resize: vertical;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
}

.contact_message p {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  color: #6b7688;
  padding-top: 18px;
  height: 170px;
}

.contact_box3 button {
  position: relative;
  background: #444;
  color: #fff;
  text-decoration: none;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 1rem 3rem;
  transition: 0.2s;
  cursor: pointer;
}

.contact_box3 button:hover {
  color: #2400ff;
  /* box-shadow: 0 0 35px var(--clr); */
  animation: box 3s infinite;
}

.contact_box3 button::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #272822;
}

@media screen and (max-width: 450px) {
  .contact_name input, .contact_mailid input, .contact_message textarea {
    width: 300px;
  }
  
}