@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

.about {
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 10vh;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about h4 {
  font-family: "Segoe UI", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: inherit;
  font-size: 40px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.title_down {
  justify-content: center;
  flex-direction: row;
  display: flex;
  position: static;
}

.line {
  background-color: #000;
  height: 3px;
  width: 200px;
  position: relative;
}

.title_after {
  color: #2400ff;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  position: absolute;
  background-color: #fff;
}

.about_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.about_left{
    width: 40%;
}

.about_right {
  text-align: left;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.about_right h5 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 75px;
}

.about_right p {
  font-family: Ubuntu, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: justify;
}

.about-text {
  color: #2400ff;
}

button {
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 1rem 3rem;
    transition: 0.2s;
    cursor: pointer;
  }
  
  button:hover {
    color: #2400ff;
    /* box-shadow: 0 0 35px var(--clr); */
    animation: box 3s infinite;
  }
  
  button::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #272822;
  }
  
  button span {
    position: relative;
    z-index: 1;
  }
  button i {
    position: absolute;
    inset: 0;
    display: block;
  }
  
  button i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 80%;
    top: -2px;
    border: 2px solid #2400ff;
    background: #272822;
    transition: 0.2s;
  }
  
  button:hover i::before {
    width: 15px;
    left: 20%;
    animation: move 3s infinite;
  }
  
  button i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid #2400ff;
    background: #272822;
    transition: 0.2s;
  }
  
  button:hover i::after {
    width: 15px;
    left: 80%;
    animation: move 3s infinite;
  }
  
  @keyframes move {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes box {
    0% {
      box-shadow: #27272c;
    }
    50% {
      box-shadow: 0 0 25px #2400ff;
    }
    100% {
      box-shadow: #27272c;
    }
  }
  