@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

.banner {
  display: flex;
  flex-direction: row;
  background-image: url(../assets/banner.png);
  background-size: cover;
}

.banner-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 10vw;
}

.banner-content h1 {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  color: #2400FF;
  font-size: 60px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.banner-content h3 {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  color: #2400FF;
  font-size: 40px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.banner-content h4 {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  color: #2400FF;
  font-size: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-left: 10vw;
}

.banner-text{
  color: #000000;
}

.banner-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-image img {
  width: 500px;
  height: auto;
  margin-top: 15vh;
}

@media screen and (max-width: 1050px) {
  .banner {
      flex-direction: column;
  }

  .banner-content {
      margin: 6rem 3rem 3rem;
  }

  .banner-image img {    
    margin-top: -10vh;
  }
}

@media screen and (max-width: 650px) {
  .banner-content h1 {
    font-size: 48px;
    line-height: 10vh;
  }

  .banner-content h3 {
    font-size: 20px;
    line-height: 14px;
  }

  .banner-content h4 {
    margin-left: 6rem;
  }  
}

@media screen and (max-width: 490px) {
  .banner-content h1 {
      font-size: 36px;
      line-height: 48px;
  }

  .banner-content h3 {
      font-size: 14px;
      line-height: 24px;
  }

  .banner-content h4 {
    font-size: 12px;
    line-height: 14px;
  }
  
}