@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

.contact{
    height: 115vh;
}

.contact_content{
    align-items: center;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.contact h1::before{
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    width: 200px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    top: 1540vh;
 }

.contact h1::after{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    content: "Let’s get in touch";
    color: #8a2be2;
    position: absolute;
    bottom: -40px;
    left: 50%;
    font-size: 20px;
    padding: 0 5px;
    background: #fff;
    transform: translateY(1436vh);
    margin-left: -6.1vw;
}

.contact_box1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact_mail{
    width: 300px;
    background-color: #fff;
    height: 60px;
    border-radius: 10px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
    margin: 1rem 0;
    background-color: #EDF2F8;
}

.contact_mail img{
    width: 50px;
    height: 50px;
}

.contact_mail p{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    align-items: center;
    color: #6b7688;
    padding-top: 6px;
}

.contact_twitter{
    width: 300px;
    background-color: #fff;
    height: 60px;
    border-radius: 10px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
    margin: 1rem 0;
    background-color: #EDF2F8;
}

.contact_twitter img{
    width: 50px;
    height: 40px;
}

.contact_twitter p{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    color: #6b7688;
    padding-top: 8px;
}

.contact_details a{
    text-decoration: none;
    color: #6b7688;
}

.contact_box2{    
    padding-bottom: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact_linkedin{
    width: 300px;
    background-color: #fff;
    height: 60px;
    border-radius: 10px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
    margin: 1rem 0;
    background-color: #EDF2F8;
}

.contact_linkedin img{
    width: 40px;
    height: 40px;
}

.contact_linkedin p{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    color: #6b7688;
    padding-top: 18px;
}

.contact_box3{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact_name input{
    border: none;
    border-radius: 7px;
    background-color: #EDF2F8;
    outline: none;
    padding: 0.95rem;
    width: 600px;
    margin-bottom: 2vh;
}

.contact_name p{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    color: #6b7688;
    padding-top: 18px;
}

.contact_mailid input{
    border: none;
    border-radius: 7px;
    background-color: #EDF2F8;
    outline: none;
    padding: 0.95rem;
    width: 600px;
    margin-bottom: 2vh;
}

.contact_mailid p{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    color: #6b7688;
    padding-top: 18px;
}

.contact_message textarea{
    border: none;
    border-radius: 7px;
    background-color: #EDF2F8;
    outline: none;
    padding: 0.95rem;
    width: 600px;
    margin-bottom: 2vh;
    height: 186px;
}

.contact_message p{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    color: #6b7688;
    padding-top: 18px;
    height: 170px;
}

.contact_box3 button{
    background-color: #313bac;
    border: none;
    border-radius: 10px;
    color: #EDF2F8;
    cursor: pointer;
    font-family: 'Ubuntu';
    font-weight: 500;
    outline: none;
    padding: 1rem 2rem;
    width: 170px;
    margin-bottom: 2vh;
}

.contact_box3 button:hover{
    background-color: #3843B6;
}

@media screen and (max-width: 1050px) {
    .contact{
        height: 50%;
    }
    
    .contact_content{
        margin-bottom: 5vh;
        width: 100vw;
     }

    .contact_content h1::after{    
        width: 170px;
        position: relative;
        display: flex;
        flex: auto;
        margin-top: -5vh;
        top: 40px;
        transform: translateX(-50%);
        margin-left: 0;
    }

    .contact_content h1::before{
         display: none;
     }

    .contact_details{
        display: flex;
        flex-direction: column;
    }

    .contact_mail, .contact_twitter, .contact_linkedin{
        width: 250px;
    }

    .contact_mail img, .contact_twitter img, .contact_linkedin img{
        width: -50%;
        height: auto;
    }

    .contact_mail p, .contact_twitter p, .contact_linkedin p{
        font-size: 12px;
    }

    .contact_box3{
        width: 100vw;
    }

    
    .contact_name, .contact_mailid, .contact_message{
        width: 70%;
    }

    .contact_name input, .contact_mailid input, .contact_message textarea{
        width: 100%;
    }
 }