@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

ul.main-menu {
  display: inline-flex;
  list-style: none;
  margin: 0px auto 0;
  padding: 0;
  float: right;
  z-index: 7;
}

ul.main-menu>li.menu-item:first-child {
  padding-left: 0;
  margin-left: 0;
}

li {
  list-style-type: none;  
}

.menu-item a {
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
  position: relative;
  display: block;
  margin: 20px 17px;
  text-decoration: none;
  cursor: pointer;
  color: #8a2be2;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.navbar__middle__menus {
  width: 80%;
  display: inline-block;
}

.navbar__middle__logo h1 {
  font-family: 'Ubuntu', sans-serif;
  font-style: bold;
  font-weight: 700;
  color: #8a2be2;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  text-decoration: none;
}

.navbar__middle__logo h1:hover{
  color: #000000;
}

.navbar__middle__logo h1 span {
  color: #9acd32;
  transition: all 0.3s ease;
}

.sub__menus__arrows{
  position: relative;
}

.sub__menus__arrows svg, .sub__menus__arrows__full svg{
  padding-top: 0px;
  position: absolute;
  top: 13px;
}

.sub__menus {
  position: absolute;
  display: none;
  background: #ffffff;
  width: 200px;
  padding: 1px 0 0 0;
  z-index: 1;
  box-shadow: 0px 4px 4px #00000040;
  border-radius: 12px;
}

@media (min-width:992px) { 
  .sub__menus__arrows:hover .sub__menus{
    display: block;
  }
  .sub__menus__arrows__full:hover .sub__menus{
    display: block;
    z-index: 1;
  }
}

.menu-item .sub__menus  a {
  padding: 7px 0 0px 0;
  margin: -5px 27px;
}

.menu-item:hover > a{
  color: #9acd32 !important;
}

.menu-item .sub__menus li:hover a{
  color: #9acd32 !important;
}

@media(max-width:991px){
.navbar__middle__logo {width: 77%;}
.navbar__middle__menus {width: 20%;}
.navbar__middle__logo img {max-width: 197px;margin: 27px 0 0 0;}
.main-nav .menubar__button:hover {background-color: #9acd32;}
.main-nav .menu-item:hover > a {color: #9acd32 !important;}
.main-nav .menubar__button {
  display: block!important;
  float: right;
  background-color: #080808;
  color: #fff;
  padding: 6px 7px;
  border-radius: 5px;
  margin: 27px auto 0;
  cursor: pointer;
  position: relative;
  z-index: 10037;
}
.main-nav .menubar__button svg{font-size: 27px;}
.main-nav ul.menuq2 {
  display: block!important;
  position: absolute;
  left: 0;
  z-index: 10007;
  background-color: #d8f1ff;
  right: 0;
  padding-bottom: 17px;
  padding-top: 57px;
}
.main-nav .menu-item a {margin: 10px 17px;text-align: center;color: #8a2be2;}
.main-nav  ul.main-menu {display: none}
.main-nav .sub__menus__arrows:hover .sub__menus {margin: 0 auto;left: 0;right: 0;}
.sub__menus__Active{display: block!important;margin: 0 auto;left: 0;right: 0;}
.sub__menus__Active2{display: block!important;}
.menus__categorysss{display: none;}
.menus__categorysss2{display: none;}
.menu-item .sub__menus__full a {text-align: left;}

}