@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

.opensource{
    background-color: #EDF2F8;
    height: 125vh;
}

.opensource_content{
    align-items: center;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.opensource h1::before{
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    width: 200px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    top: 840vh;
 }

.opensource h1::after{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    content: "collaborations";
    color: #8a2be2;
    position: absolute;
    bottom: 20px;
    left: 50%;
    font-size: 20px;
    padding: 0 5px;
    background-color: #fff;
    transform: translateY(745vh);
    margin-left: -5vw;
}

.opensource_details{
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}

.opensource-techcontent_box img{
    width: 40vw;    
    filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25));
}

.opensource-year h3{
    color: #2400FF;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    width: 60px;
}

.opensource-box{
    flex-direction: row;
    display: flex;
}

.opensource_head h3{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 25px;
}

.opensource_head h4{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    color: #1C658C;
}

.opensource_head p{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 15px;
    color: #2400FF;
}

.opensource_body p{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
}

.opensource-names{
    width: 60vw;
    margin-left: 5vw;
}

@media screen and (max-width: 1050px) {

    .opensource{
        height: 40%;
    }
    
    .opensource_content{
        margin-bottom: 0vh;
     }

    .opensource_content h1::after{    
        width: 140px;
        position: relative;
        display: flex;
        flex: auto;
        margin-top: -5vh;
        top: 40px;
        transform: translateX(-50%);
        margin-left: 0;
    }

    .opensource_content h1::before{
         display: none;
     }

     .opensource_details{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
     }

    .opensource-techcontent_box{
        width: 50vw;
        text-align: center;
    }

    .opensource-techcontent_box img{
        width: 50vw;
        height: 50%;
        margin-top: 10px;
    }
    
    .opensource-year h3{
        font-size: 15px;
    }

    .opensource_head h3{
        font-size: 15px;
    }
    
    .opensource_head h4{
        font-size: 14px;
    }
    
    .opensource_head p{        
        font-size: 14px;
    }
    
    .opensource_body p{
        font-weight: 300;
        font-size: 12px;
    }
    .opensource-names{
        margin-left: 0vw;
    }
 }