@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

.skills_content{
    align-items: center;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.skills h1::before{
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    width: 200px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    top: 318vh;
 }

.skills h1::after{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    content: "what I know";
    color: #8a2be2;
    position: absolute;
    bottom: 20px;
    left: 50%;
    font-size: 20px;
    padding: 0 5px;
    background-color: #fff;
    transform: translateY(223vh);
    margin-left: -4.5vw;
}


.skills_boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skills_box{
    width: 200px;
    box-shadow: 0px 4px 6px 0px #00000040;
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.2));
    border-radius: 15px;
}

.skills_box_content{
    text-align: center;
}

.skills_box_content img{
    width: 150px;    
    box-shadow: 0px 2px 4px 0px #00000040;
}

.skills_box_contenthead{
    text-align: center;
    margin-top: 2vh;
}

.skills_box_contenthead h4{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.skills_box_contentbody{
    text-align: center;
    width: 200px;
}

.skills_box_contentbody p{
    font-family: 'Ubuntu';
    font-style: normal;
    font-size: 15px;
}

@media screen and (max-width: 1050px) {
    .skills_details {
        flex-direction: column;
        margin-top: 5vh;
    }

    .skills_content{
        margin-bottom: 0vh;
        width: 100%;
    }

    .skills_content .title::after{    
        width: 130px;
        position: relative;
        display: flex;
        flex: auto;
        margin-top: -5vh;
        top: 40px;
        transform: translateX(-50%);
        margin-left: 0;
    }

    .skills_content .title::before{
        display: none;
    }

    .skills_box{
        margin-bottom: 5vh;  
    }

}