@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

.workshop{
    height: 75vh;
    background-color: #EDF2F8;
}

.workshop_content{
    align-items: center;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.workshop h1::before{
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    width: 250px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    top: 1355vh;
 }

.workshop h1::after{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    content: "Facilitator / Trainer";
    color: #8a2be2;
    position: absolute;
    bottom: 20px;
    left: 50%;
    font-size: 20px;
    padding: 0 5px;
    background-color: #fff;
    transform: translateY(1260vh);
    margin-left: -7vw;
}

.workshop_boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.workshop_box{
    width: 250px;
    transition: transform 1s;
}

.workshop_box:hover {
    -ms-transform: scale(0.1);
    -webkit-transform: scale(1);
    transform: scale(1.2); 
  }

.workshop_box_content{
    text-align: center;
}

.workshop_box_content img{
    width: 250px;    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 18px;
    height: 150px;
}

.workshop_box_contenthead{
    text-align: center;
    margin-top: 2vh;
}

.workshop_box_contenthead h4{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.workshop_box_contentbody{
    text-align: center;
}

.workshop_box_contentbody p{
    font-family: 'Ubuntu';
    font-style: normal;
    font-size: 15px;
    text-align: left;
}

.workshop_box_linkbody{
    text-align: center;    
}

.workshop_box_linkbody a{
    text-decoration: none;
    color: #1400FF;
}

@media screen and (max-width: 1050px) {

    .workshop{
        height: 50%;
    }

    .workshop_details {
        flex-direction: column;
        margin-top: 5vh;
    }

    .workshop_content{
        margin-bottom: 0vh;
        width: 100%;
    }

    .workshop_content .title::after{    
        width: 130px;
        position: relative;
        display: flex;
        flex: auto;
        margin-top: -5vh;
        top: 40px;
        transform: translateX(-50%);
        margin-left: 0;
    }

    .workshop_content .title::before{
        display: none;
    }

    .workshop_box{
        margin-bottom: 5vh;  
    }

}
