.banner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  height: 95vh;
  background-color: #edf2f8;
  background-image: url(../../assets/background.png);
  background-size: cover;
}

.banner_left {
  width: 40vw;
}

.banner_left h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  color: #2400ff;
  font-size: 40px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-block-start: 0;
  margin-block-end: 0;
}

.banner_left h1 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  color: #2400ff;
  font-size: 60px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-block-start: 0;
  margin-block-end: 0;
}

.banner_left h3 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  color: #2400ff;
  font-size: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-block-start: 0;
  margin-block-end: 0;
  margin-left: 10vw;
}

.banner-text {
  color: #000;
}

@media screen and (max-width: 1000px) {
  .banner {
    background-image: none;
    flex-direction: column-reverse;
    height: 80vh;
  }


  .banner_left h2 {
    font-weight: 300;
    font-size: 30px;
  }
  
  .banner_left h1 {
    font-weight: 600;
    font-size: 40px;
  }
  
  .banner_left h3 {
    font-weight: 600;
    font-size: 25px;
    margin-left: 0vw;
  }
}

@media screen and (max-width: 450px) {

  .banner {
    height: 90vh;
  }

  .banner_right img{
    width: 300px;
  }

  .banner_left {
    width: 80%;
  }

}
